body{
	margin: 0 auto;
	padding: 0;
	max-width: 1800px;
}
nav{
	background-color:grey;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;

}
nav ul{
	padding: 0;
	margin: 0px;
	display: flex;
	justify-content: flex-end;

	
}
nav li{
	list-style: none;
	line-height: 1,5;
	transition: all 3s;
	text-align: right;
	padding: 5px;

}
 li a{
	text-decoration: none;
	font-size: 20px;
	transition: all 1s;
	color: black;
	margin-left: 10px;
	transition: all 2s;
}
li a:hover{
	transition: all 2s;
	color: white;
}
h2{
	text-align: center;
}

/*#first_block{
	background-image: url(img/4.png);
	background:cover;
	height: 75vh;
}*/
#first{
	display: flex;
	align-items: center;
	background-color:  #e6ffff;
}
#foto{
	margin-right: 150px;
	margin-top: 20px;
}
#foto img{
	border-radius:50%;
}
#Boss{
	text-align:center;
	width: 700px;
}

footer{
	background-color: silver;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#aaa{
	display: flex;
}
#cont1{
	display: flex;
	align-items: center;
}
#cont2{
	display: flex;
	align-items: center;
}
#cont3{
	display: flex;
	align-items: center;
}
h3{
	margin: 0;
	margin-left: 20px;
}
h2{

}
#kepp{
	margin-left: 130px;
}
#cone1{
	display: flex;
}
#cone2{
	display: flex;
}
#cone3{
	display: flex;
}
#cone4{
	display: flex;
}

form {
	width: 380px;
	margin-right: 50px;
	padding: 30px 20px 20px 20px;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
	font-size: 18px;
	background: #fafafa;
	color: #636363;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}


.button {
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
}
.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}